# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build artifacts & dependencies (ignore everywhere)
**/node_modules/
**/dist/
**/dist-ssr/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
**/.idea/
**/.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?
__pycache__/
*.pyc

# Folers
backend/profile/
backend/backups/
backend/mongodb-database-tools-debian10-x86_64-100.13.0.deb

# Environment files
backend/.env
frontend/.env
.env
**/.env
.env.*

OTP_RESEND_FEATURE.md
LOGOUT_COOLDOWN_SUMMARY.md
LOGOUT_COOLDOWN_CLEAR.md